<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757004997449-4knvte8icbcpd1ia847p0qlqui0vebc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757004997449-4knvte8icbcpd1ia847p0qlqui0vebc8</string>
	<key>API_KEY</key>
	<string>AIzaSyAp49ycHz8eayS5KnEKez2Y6NHrD4bEGQU</string>
	<key>GCM_SENDER_ID</key>
	<string>757004997449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialmedia.entropy</string>
	<key>PROJECT_ID</key>
	<string>entropy-develop</string>
	<key>STORAGE_BUCKET</key>
	<string>entropy-develop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757004997449:ios:7f68a86c5020053c548098</string>
</dict>
</plist>
<!-- 
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357178176528-tara8r47gifmq0hn5jnlg0nrt155hvkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357178176528-tara8r47gifmq0hn5jnlg0nrt155hvkb</string>
	<key>API_KEY</key>
	<string>AIzaSyAs9aXgAt2Z28Z59F9AWdYBQ_G_kQC7QQI</string>
	<key>GCM_SENDER_ID</key>
	<string>357178176528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialmedia.entropy</string>
	<key>PROJECT_ID</key>
	<string>entropy-317014</string>
	<key>STORAGE_BUCKET</key>
	<string>entropy-317014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357178176528:ios:0842ff56a5bb908b040695</string>
</dict>
</plist>   -->